form {
  margin-left: auto;
  margin-right: auto;
  /* background-color: #ffffff; */
  width: 100%
}

.custom-button {
  width: 100%;
  background-color: #1a411b;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}

.form-label {
  display: block;
  margin-bottom: 5px; /* Adjust spacing */
}

.login-container {
  max-width: 1000px;
  /* background: #8bffb2; */
  border-radius: 10px;
  
}

.container {
  padding: 20px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 600px;
  }
}
